<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.ms.mapper.GoodsMapper" >

    <!-- 这个是关联查询，goods表 和sckill_goods 表-->
    <resultMap id="BaseResultSeckillOrderAndGoodsMap" type="com.hz.ms.model.SecKillGoods" >
        <constructor >
            <!-- 秒杀表的字段-->
            <arg column="seckil_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
            <arg column="stock_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="start_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="end_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />

            <!--商品表的字段 -->
            <arg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
            <arg column="goods_name" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="goods_title" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="goods_img" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="goods_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
            <arg column="goods_stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="create_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="update_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="goods_detail" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
        </constructor>
    </resultMap>

    <!-- 查询秒杀商品列表 -->
    <select id="getAllSecKillGoods" resultMap="BaseResultSeckillOrderAndGoodsMap">
            SELECT s.seckil_price,s.stock_count,s.start_date,s.end_date,
             g.id,g.goods_name,g.goods_title,g.goods_img,g.goods_price,g.goods_stock,
             g.create_date,g.update_date,g.goods_detail
              FROM goods g, seckill_goods s WHERE s.goods_id = g.id
    </select>

    <!-- 查询秒杀商品列表 -->
    <select id="getSecKillGoods" parameterType="java.lang.String" resultMap="BaseResultSeckillOrderAndGoodsMap">
            SELECT s.seckil_price,s.stock_count,s.start_date,s.end_date,
             g.id,g.goods_name,g.goods_title,g.goods_img,g.goods_price,g.goods_stock,
             g.create_date,g.update_date,g.goods_detail
              FROM goods g, seckill_goods s WHERE s.goods_id = g.id
              AND s.goods_id = #{goodsId}
    </select>


</mapper>
